
name: Build and Release .NET App

on:
  push:
    tags:
      - 'v*'

jobs:
  build:
    runs-on: windows-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup .NET
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: '8.0.x'

      - name: Restore dependencies
        run: dotnet restore

      - name: Publish self-contained single file (x64)
        run: dotnet publish ./Rule34.us.Downloader.View/Rule34.us.Downloader.View.csproj -c Release -r win-x64 --self-contained true /p:PublishSingleFile=true -o ./publish

      - name: Zip published files
        run: Compress-Archive -Path ./publish/* -DestinationPath ./app.zip

      - name: Create Release and Upload Asset
        uses: softprops/action-gh-release@v1
        with:
          files: ./app.zip
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
